#Dogecomplaints

VIRTUAL_ENV=
PYTHONPATH=.

SUPABASE_SERVICE_ROLE=

SUPABASE_URL=
SUPABASE_ANON_KEY=

SUPABASE_FUNCTION_URL=
SUPABASE_JWT_SECRET=

OPENCAGE_API_KEY=

CHAT_GPT_URL="https://chatgpt.com/g/g-RkVU9xLWN-dogecomplaints"

DOGEPARTY_API_URL="http://api.dogeparty.net:4005/api/?testnet=1"
DOGEPARTY_WALLET_ADDRESS=
DOGEPARTY_PRIVATE_KEY=

TOKEN_QUANTITY=888

GITHUB_ACCESS_TOKEN=
GITHUB_REPO_NAME=
FILE_PATH=

OPENAI_API_KEY=
